<!DOCTYPE html>
<html>
<head>
    <link href="../css/prettify.css" type="text/css" rel="stylesheet"/>
    <link href="../css/bootstrap.min.css" type="text/css" rel="stylesheet"/>
    <link href="../css/slide.css" type="text/css" rel="stylesheet"/>

    <script type="text/javascript" src="../js/angular.js"></script>
    <script type="text/javascript" src="../js/prettify.js"></script>
    <title>Collections</title>
</head>
<body>
    <div class="content">
        <pre class="prettyprint lang-html">
    &lt;div ng-app ng-init=&quot;superHeroes=['Wolverine','Batman','Ironman','Angular.js']&quot;&gt;
        &lt;ul ng-repeat=&quot;superHero in superHeroes&quot;&gt;
            &lt;li&gt;{{superHero}}&lt;/li&gt;
        &lt;/ul&gt;
    &lt;/div&gt;
        </pre>

        <div ng-app ng-init="superHeroes = ['Wolverine','Batman','Ironman','Angular.js']">
            <ul ng-repeat="superHero in superHeroes">
                <li>{{superHero}}</li>
            </ul>
        </div>
    </div>
    <script>prettyPrint();</script>
</body>
</html>